<div class="row">
  <div class="col-3">
    <img class="animation-logo" src="../../../assets/images/CIRCULO.png" alt="">
  </div>
  <div class="d-flex col-9  flex-column align-items-stretch justify-content-center ">
    <div class="row ">
      <div class=" col ">
        <h1 class="main-logo">RED 21

          <img height="150px" src="../../../assets/images/icono-red.png" alt="">
        </h1>

      </div>
    </div>
    <div class="row ">
      <div class="col-6">
        <h2 class="subtitle"><b>Tecnologia avanzada</b><br>para tus necesidades</h2>
      </div>
      <div class="col-6">
        <div class="d-flex flex-row">

          <!-- Mini cards -->
        </div>
      </div>
    </div>
  </div>
</div>
