<div class="row">
  <div class="col-3">
    <img class="animation-logo" src="../../../assets/images/CIRCULO.png" alt="">
  </div>
  <div class="col-9  ">
    <div class="row">
      <div class=" col d-flex justify-content-center">
        <h1 class="main-logo" width="300px">RED 21

          <img height="150px" src="../../../assets/images/icono-red.png" alt="">
        </h1>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row ">
          <div class="col-6">
            <h2 class="subtitle"><b>Tecnologia avanzada</b><br>para tus necesidades</h2>
          </div>
          <div class="col-6">
            <div class="d-flex flex-row">

              <app-service-mini-card></app-service-mini-card>
              <mat-card class="element-card">
                <mat-card-content>Simple card</mat-card-content>
              </mat-card>
              <mat-card class="element-card">
                <mat-card-content>Simple card</mat-card-content>
              </mat-card>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
