.datos-plan {
  display: inline-block;
  position: relative;
}

.datos-plan-content {
  height: 100%;
  width: auto;
  padding-left: 60px;
  padding-right: 30px;
  top: 25px;
  position: absolute;
}

h4 {
  font-weight: bold;
  text-align: left;
  font-size: 2rem;
  line-height: 3rem;
}

.title-plan {
  margin-bottom: 35px;
  margin-left: 20px;
}

p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.3rem;
}
