<div class="datos-plan">
  <img src="../../../../assets/images/{{ imagePlan }}" alt="plan 1">
  <div class="datos-plan-content">
    <h4 class="title-plan">Plan <br>{{ tipoPlan }}</h4>
    <h4 [style.color]="color" >{{ cantidadMegas }} MEGAS</h4>
    <p><b>Mensualidad: </b></p>
    <h4 [style.color]="color" >{{ costoMensualidad }}</h4>
    <p><b>Instalación: $1800</b></p>
    <p><b>Servicio Ilimitado <br>Sin plan forzoso</b></p>
    <p>La instalación incluye el <br>primer mes de servicio</p>
  </div>
</div>
