<div class="row">
  <div class="col">
    <div class="row spacer-h50">
      <div class="col">
        <h2 class="text-center display-1">Normatividad</h2>

      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-2 px-0 text-center">
        <app-document-button
          [title]="1"
          name="Constancia IFT Cobertura"
        ></app-document-button>
      </div>

      <div class="col-2 px-0 text-center">
        <app-document-button
        [title]="2"
        name="Derechos del usuario"
        ></app-document-button>
      </div>

      <div class="col-2 px-0 text-center">
        <app-document-button
          [title]="3"
          name="Constancia IFT nombre comercial"
        ></app-document-button>
      </div>

      <div class="col-2 px-0 text-center">
        <app-document-button
          [title]="4"
          name="Prácticas comerciales"
        ></app-document-button>
      </div>

      <div class="col-2 px-0 text-center">
        <app-document-button
          [title]="5"
          name="Contrato de adhesión"
        ></app-document-button>
      </div>

    </div>
  </div>
</div>
