<div class="row">
  <div class="col">
    <div class="row spacer-h50">
      <div class="col">
        <h2 class="text-center display-md-1">Normatividad</h2>
        <p class="text-center">Haz click para descargar algún documento</p>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col px-0 text-center">
        <app-document-button
          [title]="1"
          name="Constancia IFT Cobertura"
          document="CONSTANCIA-IFT-COBERTURA.pdf"
        ></app-document-button>
      </div>

      <div class="col px-0 text-center">
        <app-document-button
        [title]="2"
        name="Derechos del usuario"
        document="DERECHOS-DEL-USUARIO.pdf"
        ></app-document-button>
      </div>

      <div class="col px-0 text-center">
        <app-document-button
          [title]="3"
          name="Constancia IFT nombre comercial"
          document="CONSTANCIA-IFT-NOMBRE-COMERCIAL.pdf"
        ></app-document-button>
      </div>

      <div class="col px-0 text-center">
        <app-document-button
          [title]="4"
          name="Prácticas comerciales"
          document="PRACTICAS-COMERCIALES.pdf"
        ></app-document-button>
      </div>

      <div class="col px-0 text-center">
        <app-document-button
          [title]="5"
          name="Contrato de adhesión"
          document="CONTRATO_ADHESION.docx"
        ></app-document-button>
      </div>

    </div>
  </div>
</div>
