.element-card {
  max-width: 120px;
  max-height: 120px;
  background-image: url('../../../assets/images/boton-abc.png') ;
  background-size: contain;
  background-position: initial;
  background-color: transparent;
  border: none;
}

.separador {
  max-height: 40px;
}
