<div class="row">
  <div class="col">
    <div class="row spacer50">
      <div class="col">
        <h2 class="text-center display-1">Planes de internet</h2>
        <h3 class="text-center display-1">Internet de alta capacidad</h3>

      </div>
    </div>

    <div class="row mx-5 px-3 d-flex justify-content-center">
      <div class="col px-0 text-center">
        <app-datos-plan
          tipoPlan="Elemental"
          cantidadMegas="30"
          costoMensualidad="520"
          color="#A7A7A7"
          imagePlan="plan-1.png"
        ></app-datos-plan>
      </div>

      <div class="col px-0 text-center">
        <app-datos-plan
          tipoPlan="Básico"
          cantidadMegas="40"
          costoMensualidad="590"
          color="#01B9FF"
          imagePlan="plan-2.png"
        ></app-datos-plan>
      </div>

      <div class="col px-0 text-center">
        <app-datos-plan
          tipoPlan="Familiar"
          cantidadMegas="50"
          costoMensualidad="690"
          color="#FB00FF"
          imagePlan="plan-3.png"
        ></app-datos-plan>
      </div>

      <div class="col px-0 text-center">
        <app-datos-plan
          tipoPlan="Profesional"
          cantidadMegas="50"
          costoMensualidad="690"
          color="#FF0103"
          imagePlan="plan-4.png"
        ></app-datos-plan>
      </div>

      <div class="col px-0 text-center">
        <app-datos-plan
          tipoPlan="Ultra"
          cantidadMegas="70"
          costoMensualidad="799"
          color="#DEFF00"
          imagePlan="plan-5.png"
        ></app-datos-plan>
      </div>

    </div>

  </div>
</div>
