/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-image: url('../src/assets/background/full-background.png') ;

  background-size:cover;
}



h1 {

}

@media (max-width:1025px) {

  h2 {
    font-size: 3.5rem !important;
    line-height: 3.5rem !important;

  }

  body {

    background-repeat: repeat;
    background-size: cover;
  }
}

@media (min-width:1025px) {

  h2 {
    font-size: 5rem !important;
    line-height: 5rem !important;


  }
}


h3 {
  font-size: 3rem !important;
  line-height: 3rem !important;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;

}

.spacer-h50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width:1025px) {


  .spacer-w200 {
    padding-left: 200px;
    padding-right: 200px;
  }

}

.footer {
  .contact{
    color: #FF0000;
    a {
      color: #FF0000;
      text-decoration: none;
    }
  }
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

mat-toolbar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

mat-sidenav-container {
  background-color: transparent !important;
}

.mat-drawer {
  background-color: rgba(0, 0, 0, 0.8) !important;
  position: fixed !important;
  padding-top: 100px !important;
}
.mat-drawer-backdrop {
  background-color: transparent !important;
}

.mat-drawer-inner-container {
  overflow: hidden;
}
