<main >
  <app-navbar>
  </app-navbar>
  <div class="container-fluid">
    <app-principal></app-principal>
    <div class="spacer"></div>
    <div >
      <hr class="separador">
    </div>
    <app-normativa id="normatividad"></app-normativa>
    <div >
      <hr class="separador">
    </div>
    <app-planes-internet id="planes"></app-planes-internet>
    <div >
      <hr class="separador">
    </div>
    <app-acerca-de id="acerca"></app-acerca-de>
    <hr class="separador">
    <app-footer></app-footer>
  </div>

</main>
