<main >
  <app-navbar>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, expedita a illum, veritatis quo voluptate temporibus similique cum, obcaecati tempora qui ut culpa molestias quasi! Officia, aut? Accusantium, repellendus labore.</p>
  </app-navbar>
  <div class="container-fluid">
    <app-principal></app-principal>
    <div class="spacer"></div>
    <div >
      <hr class="separador">
    </div>
    <app-normativa></app-normativa>
    <div >
      <hr class="separador">
    </div>
    <app-planes-internet></app-planes-internet>
    <div >
      <hr class="separador">
    </div>
    <app-acerca-de></app-acerca-de>
  </div>
</main>
